.container-task {
    display: flex !important;
    flex-direction: column !important;
}

.task-item {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.footer-tasks {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
}